matplotlib
pandas
pyopengl
pyglet
pillow
moviepy
lxml
openpyxl
xlrd
configobj
pyyaml
gevent
greenlet
msgpack-python
psutil
tables
requests[security]
pyosf
cffi
pysoundcard
pysoundfile
seaborn
python-bidi
pyserial
pyparallel
egi
#iolabs
pyxid
pytest
coverage
sphinx
numexpr
Cython
ffmpeg
SpeechRecognition
pyfilesec
Xlib
pyglet
cryptography
google-cloud-speech
jedi
gitpython
sounddevice
opencv-python
pocketsphinx
googleapis-common-protos
google-cloud
glfw
msgpack-numpy
python-vlc
markdown-it-py
soundfile
freetype-py
google-api-core
python-xlib
pyzmq
astunparse
python-gitlab
websocket-client
ujson
arabic-reshaper
esprima
distro
questplus
javascripthon
parso
gitdb
requests-toolbelt